nav .brand-logo{
    padding-left:20px;
}

nav{
    background:#249991 !important;
}

.container{
    margin-top:4%;
}

.lighter{
    font-weight: lighter;
}

.card-light-green{
    background:#2CC990;
}

.card-light-green:hover{
    background: #1b8661;
    transition: 0.3s;
}

.card-dark-green{
    background:#249991;
}

.card-dark-green:hover{
    background: #165f56;
    transition: 0.3s;
}


.login-form-text{
    font-size:16px;
    font-family: Roboto;
}

